.header-section {
    font-family: "Fira Code", monospace;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    
      &__header-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    
      &__title {
        font-size: 40px;
        font-weight: 600;
        color: #fff;
    
        span {
          color: #8c81e6;
        }
      }
    
      &__subtitle {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        margin-top: -20px;
      }
}

