.expand-from-bottom {
    animation: expandFromBottom 0.3s ease forwards;
  }
  
  @keyframes expandFromBottom {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 1000px;
      opacity: 1;
    }
  }
  
  .expand-from-top {
    animation: expandFromTop 0.3s ease forwards;
  }
  
  @keyframes expandFromTop {
    from {
      max-height: 1000px;
      opacity: 1;
    }
    to {
      max-height: 0;
      opacity: 0;
    }
  }
  
  .skills-component {
    height: 100vh;
    width: 100%;
    font-family: "Fira Code", monospace;
    position: relative;
    padding-top: 2rem;
  
    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    &__content-info {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      width: 60%;
      margin-top: 70px;
    }
  
    &__frontend {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  
    &__frontend-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #748ca3;
  
      h2 {
        color: #fff;
        font-weight: 400;
      }
  
      button {
          color: #fff;
          cursor: pointer;
          background: none;
          outline: none;
          border: none;
          font-size: 20px;
          
          &.rotate {
            span {
              transform: rotate(45deg);
            }
          }
        }
    }
  
    &__frontend-content {
      display: none;
      overflow: hidden;
      transition: max-height 0.3s ease;
      max-height: 1000px; // Cambiado de 0 a un valor grande
      opacity: 0;
    
      p {
        color: #748ca3;
      }
    }
    
    &__frontend-content.expanded {
      display: block;
      max-height: 1000px;
      opacity: 1;
      @extend .expand-from-bottom; // Añadir la clase de animación extendiéndola
    }
  
    &__backend {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  
    &__backend-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #748ca3;
  
      h2 {
        color: #fff;
        font-weight: 400;
      }
  
      button {
        color: #fff;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        font-size: 20px;
        
        &.rotate {
          span {
            transform: rotate(45deg);
          }
        }
      }
    }
  
    &__backend-content {
      display: none;
      overflow: hidden;
      transition: max-height 0.3s ease;
      max-height: 1000px; // Cambiado de 0 a un valor grande
      opacity: 0;
    
      p {
        color: #748ca3;
      }
    }
    
    &__backend-content.expanded {
      display: block;
      max-height: 1000px;
      opacity: 1;
      @extend .expand-from-bottom; // Añadir la clase de animación extendiéndola
    }
    
    &__content-skills {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;
      width: 60%;
      margin-top: 8rem;
  
      ul {
        margin: 0;
        padding-left: 2rem;
        li {
          color: #748ca3;
        }
      }
    }
  
    &__languages {
      display: flex;
      flex-direction: column;
      width: 33.33%;
  
      h3 {
        color: #fff;
        font-weight: 400;
        border-bottom: 2px solid #748ca3;
        width: 100%;
        padding-bottom: 0.5rem;
      }
    }
  
    &__frameworks {
      display: flex;
      flex-direction: column;
      width: 33.33%;
  
      h3 {
        color: #fff;
        font-weight: 400;
        border-bottom: 2px solid #748ca3;
        width: 100%;
        padding-bottom: 0.5rem;
      }
    }
  
    &__tools {
      display: flex;
      flex-direction: column;
      width: 33.33%;
  
      h3 {
        color: #fff;
        font-weight: 400;
        border-bottom: 2px solid #748ca3;
        width: 100%;
        padding-bottom: 0.5rem;
      }
    }
  
    &__trio-chevron {
      position: absolute;
      top: 6rem;
      right: 5rem;
      pointer-events: none;
    }
  
    &__dots {
      position: absolute;
      bottom: 18rem;
      left: -3rem;
      width: 120px;
      height: 120px;
      pointer-events: none;
    }
  
    &__square {
      position: absolute;
      left: 80px;
      top: 18rem;
      width: 80px;
    }
  }
  