@import "../../constants/styles/rem-calc.scss";

.experience-work {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__header {
    border: 1px solid #748ca3;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-end;

    h2 {
      font-size: rem(22);
      color: #fff;
    }

    h3 {
      color: #8c81e6;
    }

    .left {
      width: 50%;
    }

    .right {
      width: 50%;
      display: flex;
      position: relative;

      span {
        color: #fff;
        font-weight: 500;
        font-size: rem(18);
        padding-bottom: 1.2rem;
        position: absolute;
        bottom: 0rem;
        right: 2rem;
      }
    }
  }

  &__content {
    border: 1px solid #748ca3;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;

    p {
      color: #748ca3;
    }
  }
}

@media screen and (max-width: 768px) {
  .experience-work {
    width: 85%;
    overflow: hidden;

    &__header {
      padding: 0.8rem;
    }

    .left {
      width: 90%;
    }

    h2 {
      font-size: rem(16);
    }

    h3 {
      font-size: rem(14);
    }

    .right {
      width: 0%;

      span {
        display: none;
      }
    }

    &__content {
      padding: 0.7rem;
      p {
        font-size: rem(12);
      }
    }
  }
}
