.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 25px;
  border-bottom: 2px solid #b6c5d3;
  border-top: 2px solid #b6c5d3;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  font-family: "Fira Code", monospace;

  img {
   width: 32px;
   height: 32px;
   margin: 0;
   padding: 0;
   pointer-events: none;
  }

  &__nav {
    display: flex;
    list-style: none;
    gap: 40px;

    li {
      color: #b6c5d3;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;

      &:last-child {
        color: #8c81e6;
      }
    }
  }

  &__bar {
    color: #8c81e6;
    font-weight: bolder;
  }

  &__language-menu.MuiPaper-root {
    background-color: #8c81e6 !important;
  }
}

.header__language-menu.MuiPaper-root {
  background-color: #8c81e6 !important;
}