@import "../../constants/styles/rem-calc.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 25px;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  font-family: "Fira Code", monospace;
  border-top: 1px solid #b6c5d3;
  border-bottom: 1px solid #b6c5d3;
  z-index: 1;

  img {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }

  &__nav {
    display: flex;
    list-style: none;
    gap: 40px;
    position: relative;

    li {
      color: #b6c5d3;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;

      &:last-child {
        color: #8c81e6;
      }
    }
  }

  &__bar {
    color: #8c81e6;
  }

  &__language-menu {
    .MuiPaper-root {
      background-color: rgba(255, 255, 255, 0.09);
      color: rgba(116, 140, 163, 1);
      text-transform: uppercase;

      .MuiMenuItem-root {
        font-size: rem(15);
        font-weight: 600;

        &:hover {
          color: #8c81e6;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    border: none;

    img {
      width: 24px;
      height: 24px;
    }

    &__nav {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;

      li {
        padding: 0.5rem 0;
        font-size: rem(12);

        &:last-child {
          display: none;
        }
      }
    }

    &__language-menu {
      .MuiPaper-root {
        .MuiMenuItem-root {
          font-size: rem(10);
          font-weight: 600;
          width: rem(80);
        }
      }
    }
  }
}
